/* ============================================================================
   NARRATIVE FRONT - Global Styles & Resets
   ============================================================================ */

/* CSS Variables defined in App.css are inherited here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* FIXED: Always use border-box */
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box; /* ADDED */
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  box-sizing: border-box; /* ADDED */
}

#root {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box; /* ADDED */
}

/* Remove default button styles */
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box; /* ADDED */
}

/* Remove default list styles */
ul, ol {
  list-style: none;
}

/* Remove default link underlines */
a {
  text-decoration: none;
  color: inherit;
}

/* Improve image defaults */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Make form elements inherit font */
input, textarea, select, button {
  font: inherit;
}

/* Remove default fieldset/legend styles */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}

/* REMOVED THE PROBLEMATIC INHERIT BLOCK */
/* All elements now use border-box directly from line 8 */